<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<title>Tweeter Search Using Vector Space Model </title>
<head>
    <link rel="stylesheet" href="{%  static  'css/index.css'  %}">
</head>
<body>


<form action="/search" method="post">
<img src= "{% static 'twitt.png' %}" class="centerImage" width="200" height="100" alt="Twingine" >
    {% csrf_token %}
    <div id="search" class="wrap">


        <div class="search">

            <input type="text" class="searchTerm"
                   placeholder="What are you looking for? Search in the current twitter trend">
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>
<div id ="result" class="result">
    {% for i in tweets %}
    {{ i }}
    <br>
    {% endfor %}
</div>

</body>
